<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gp.smartparking.mapper.PaymentRecordMapper">

    <resultMap id="BaseResultMap" type="cn.gp.smartparking.model.entity.PaymentRecord">
            <id property="id" column="id" />
            <result property="order_id" column="order_id" />
            <result property="payment_no" column="payment_no" />
            <result property="amount" column="amount" />
            <result property="payment_method" column="payment_method" />
            <result property="payment_status" column="payment_status" />
            <result property="transaction_id" column="transaction_id" />
            <result property="payment_time" column="payment_time" />
            <result property="version" column="version" />
            <result property="create_by" column="create_by" />
            <result property="create_time" column="create_time" />
            <result property="update_by" column="update_by" />
            <result property="update_time" column="update_time" />
            <result property="is_deleted" column="is_deleted" />
    </resultMap>

    <sql id="Base_Column_List">
        id,order_id,payment_no,amount,payment_method,payment_status,
        transaction_id,payment_time,version,create_by,create_time,
        update_by,update_time,is_deleted
    </sql>
</mapper>
